<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/adminDashboard.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js">
  </script>


</head>
<body style="background-color: #5EC410;">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <span class="bi bi-bell green-color"> </span>
      </div>

      <div class="notification-container">
        <a class="nav-item nav-link" href="" id="notification-icon">
          <i class="fas fa-bell fa-2x"></i>
          <span class="badge badge-pill badge-danger" style="position: relative;
          top: -20px;
          left: -15px;
          border: 1px solid black;
          border-radius: 50%;" id="notification-count">0</span>
        </a>
      </div>
    </div>

    <div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPickupboy">Add Pickup
        Boy</button>
    </div>
  </nav>

  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgjbPSHK13XyEaCfbm_xeQUchA1DVKpWTUuQ&usqp=CAU"
              alt="avatar" class="rounded-circle img-fluid" style="width: 200px;height: 200px;">
            <h5 class="my-3">
              <%= data.name %>
            </h5>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateProfile">Update
                Profile</button>
              <!-- <button type="button" class="btn btn-outline-primary ms-1">Message</button> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">E-Waste Centre Name</p>
              </div>
              <div class="col-sm-9">
                <p id="center" class="text-muted mb-0">
                  <%= data.name %>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p id="email" class="text-muted mb-0">
                  <%= data.email %>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p id="phone" class="text-muted mb-0">
                  <%= data.phone %>
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p id="address" class="text-muted mb-0">
                  <%= data.address %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row mb-3 justify-content-center">
    <table id="userTable" class="table table-hover">
      <thead>
        <tr class="table-info">
          <tr class="table-info">
            <th scope="col">Sr.No.</th>
            <th scope="col">Email</th>
            <th scope="col">Items</th>
            <th scope="col">Amount</th>
            <th scope="col">Address</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </tr>
      </thead>
      <tbody>
        <% let i=0%>
            <% if(requests.length>0) { requests.forEach(function(item){ i++; %>
              <tr class="table-info">
                <th scope="row"><%= i%></th>
                <td style="display: none;" id="dummy<%=i%>"><%= item.items%></td>
                <td id="email<%=i%>"><%= item.email%></td>
                <td id="items<%=i%>"></td>
                <td id="total<%=i%>"><%= item.price%></td>
                <td id="addr<%=i%>"><%= item.address%></td>
                <td id="date<%=i%>""><%= item.date.toString().substring(0,15) %></td>
                <% if (item.status === 1) { %>
                    <td class="bg-warning">Delivered</td>
                <% } else if (item.status === 0) { %>  
                    <td class="bg-warning">Approved</td>
                <% } else if (item.status === -1) { %>  
                    <td class="bg-warning">Pending</td>
                <% } %>                
                <% if (item.status === -1 || item.status === 0) { %>
                  <td>
                    <button id="<%=i%>" onclick="details(this.id)" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#blogContent">Assign
                      Pickup Boy</button>
                  </td>
                <% } else { %>  
                  <td class="">Cannot cancel</td>
                <% } %>
              </tr>
              <% }) }else{ %>
                <tr>
                  <td colspan="5">No requests found</td>
                </tr>
              <% } %>
        </tr>
      </tbody>
    </table>
  </div>
  <h1 id="count" style="display: none;"><%=i%></h1>
  <div>
    <div style="display: flex; flex-direction: column; justify-content: center;">
      <button type="button" class="btn btn-primary btn-lg" style="padding:30px; margin:80px;" data-toggle="modal"
        data-target="orderTable">Order History</button>
      <div class="d-flex flex-row mb-3 justify-content-center">
        <table id="userTable" class="table table-hover">
          <thead>
            <tr class="table-info">
              <th scope="col">User ID</th>
              <th scope="col">User Name</th>
              <th scope="col">E-mail Id</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Address</th>
              <th scope="col">E-Waste Details</th>

            </tr>
          </thead>
          <tbody>
            <tr class="table-info">
              <td>1</td>
              <td>Anirudh Verma</td>
              <td>ani13@gmail.com</td>
              <td>1234567</td>
              <td>kfbrekjbgjvjfknbbjbknben</td>
              <td>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                  data-target="#wasteDetails">Read More...</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="modal fade" id="updateProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">E-waste Center Name:</label>
              <input type="text" class="form-control" id="ucenter" value="<%=data.name%>" aria-describedby="emailHelp"
                placeholder="Enter name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address:</label>
              <input type="email" class="form-control" id="uemail" value="<%=data.email%>" aria-describedby="emailHelp"
                placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Phone No.</label>
              <input type="text" value="<%=data.phone%>" class="form-control" id="uphone" aria-describedby="emailHelp"
                placeholder="Enter phone no.">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Address:</label>
              <input type="text" class="form-control" id="uaddress" value="<%=data.address%>"
                aria-describedby="emailHelp" placeholder="Enter address">
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addPickupboy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Pickup Boy Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/e-waste-center/addPickUpBoy" method="post">
            <input style="display: none;" value="<%=data.name%>" type="text" name="username">
            <div class="form-group">
              <label for="exampleInputEmail1">Name:</label>
              <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address:</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Phone No.</label>
              <input name="phone" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter phone no.">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Address:</label>
              <input name="address" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter address">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Password:</label>
              <input name="password" type="password" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="blogContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Assign Pickup Boy</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/e-waste-center/approveOrder" method="post">
            <input style="display: none;" type="text" name="cemail" id="cemail">
            <input style="display: none;" type="text" name="camount" id="camount">
            <input style="display: none;" type="text" name="cdate" id="cdate">
            <input style="display: none;" type="text" name="caddr" id="caddr">
            <input style="display: none;" type="text" name="pbPhone" id="pbPhone">
            <% let j=0%>
            <% if(pickupBoys.length>0) { pickupBoys.forEach(function(item){ j++; %>
            <label>
              <input style="display: none;" type="text" id="pbp<%=j%>" value="<%=item.phone%>">
              <input onclick="fillDetails(this.id)" type="radio" name="options" id="pb<%=j%>" value="pbName">
              <%=item.name%>
            </label>
            <br>
            <% }) }else{ %>
              <p>Please add pickup boy</p>
            <% } %>
            <div class="dropdownshow">
              <span>Select time slot:</span>
              <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Time Slot
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">09:00 AM - 12:00 PM</a>
                <a class="dropdown-item" href="#">12:00 PM - 03:00 PM</a>
                <a class="dropdown-item" href="#">03:00 PM - 06:00 PM</a>
              </div>
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="wasteDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">E-waste Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Give Details here!!
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <script>
    function showUserTable() {
      document.getElementById("userTable").style.display = "table";
      document.getElementById("centresTable").style.display = "none";
    }

    function showCentresTable() {
      document.getElementById("userTable").style.display = "none";
      document.getElementById("centresTable").style.display = "table";
    }

    let count = document.getElementById("count").innerText;
  for(let i=1;i<=count;i++){
    let elements = JSON.parse(document.getElementById(`dummy${i}`).innerText)
    let text = "";
    let idx = 1;
    elements.forEach(element => {
      text+=`${idx}. ${element.model} Price: ${element.price}<br>`;
      idx++;
    });
    document.getElementById(`items${i}`).innerHTML = text;

  }

  function formatDateToSQL(inputDate) {
  // Create a Date object from the input date string
  const date = new Date(inputDate);

  // Get the year, month, and day components from the Date object
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-based
  const day = String(date.getDate()).padStart(2, '0');

  // Format the date in SQL format (YYYY-MM-DD)
  const sqlFormattedDate = `${year}-${month}-${day}`;

  return sqlFormattedDate;
}

  function details(id){
      console.log(id);
      let date = document.getElementById(`date${id}`).innerText;
      document.getElementById("cemail").value = document.getElementById(`email${id}`).innerText;
      document.getElementById("camount").value = document.getElementById(`total${id}`).innerText;
      document.getElementById("cdate").value = formatDateToSQL(date);
      document.getElementById("caddr").value = document.getElementById(`addr${id}`).innerText;
    }

    function fillDetails(id){
      let i = id[2]
      document.getElementById("pbPhone").value = document.getElementById(`pbp${i}`).value;
    }
  </script>
</body>

</html>